html,body{color:#5E5E5E;font-family:Helvetica,Arial,sans-serif;}
.clearfix{clear:both;}
.titillium{font-family: 'Titillium Web', 'sans-serif';}

.title{color:#B0B2B4;padding:25px 0;;background-color:#313542;}
.title .subhead{position:relative;top:-15px;}
h1.head{font-family:'Titillium Web','sans-serif';font-size:2.6em;line-height:.9em;text-align:center;}
h2.subhead{font-family:'Titillium Web','sans-serif';font-size:1.1em;line-height:.9em;text-align:center;}
@media(min-width:768px){h1.head{font-size:4em;text-align:left;}h2.subhead{font-size:1.65em;text-align:left;}}
@media(min-width:321px){.infoLinks li{display:inline-block;}}
@media(max-width:320px){.infoLinks li{/*display:block;*/}}
.infoLinks li{margin-bottom:20px;}
.blurbs{background:#EEEFF1;padding:15px;margin-bottom:30px;}
.blurbsFooter{background:#EEEFF1;padding:50px 15px 15px;margin-bottom:0px;}
.blurbs h2,.workSection h2,.workSection h3{font-family:'Titillium Web','sans-serif';font-weight:600;}
.workSection{padding-bottom:30px;}
.workSection h2{margin-bottom:50px;}
.workSection.web ul{list-style:none;padding:0}
.project_img{width:650px}
.navbar{margin-bottom:0}
