html,body{color:#5E5E5E;font-family:Helvetica,Arial,sans-serif}
.clearfix{clear:both}
.titillium{font-family: 'Titillium Web', 'sans-serif'}
.header{color:#B0B2B4;background-color:#313542}
.header .header_container{padding-top:25px;}
.header .subhead{position:relative;top:-11px}

h1.head
{
  font-family:'Titillium Web','sans-serif';
  font-size:2.6em;
  line-height:.9em;
  text-align:center;
}

h2.subhead
{
  font-family:'Titillium Web','sans-serif';
  font-size:1.1em;
  line-height:1.2;
  text-align:center;
}

@media(min-width:768px)
{
  .header .subhead{top:-22px}
  h1.head{font-size:4em;text-align:left}
  h2.subhead{font-size:1.68em;line-height:1;text-align:left}
}

@media(min-width:321px){.infoLinks li{display:inline-block}}

.infoLinks li{margin-bottom:20px}
.blurbs{background:#EEEFF1;}
.blurbsFooter{background:#D0D4DD;margin-bottom:0px}
.section_title
,.work_section h3
{
  font-family:'Titillium Web','sans-serif';
  font-weight:600;
}

.section_title{margin-bottom:20px;padding-top:20px;}

.pull_tab
{
  border-left:35px solid transparent;
  border-right:35px solid transparent;
  border-top:32px solid;
  bottom:-32px;
  display:block;
  height:0;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  width:0;
}

.pull_tab__header{border-top-color:#313542;}
.pull_tab__work{border-top-color:#FFFFFF;}
.pull_tab__about{border-top-color:#EEEFF1;}

.work_section ul{list-style:none;padding:0}
.project_img{width:650px}
.navbar{margin-bottom:0}
.image_set_image{margin-bottom:10px}
